<!-- <footer>
  <div class="row full-width">
    <div class="small-12 large-5 columns">
      <p class="copyright text-center large-text-left">Copyright &copy; 2015 <a href="http://www.backupparachute.com" target="_blank">Backup Parachute Software LLC</a></p>
    </div>
    <div class="small-12 large-2 text-center large-text-right columns">
      <p class="text-center large-text-center">888-865-2012</p>
    </div>
    <div class="small-12 large-5 text-center large-text-right columns">
      <img class="twitter-icon" src="/images/twitter-logo-white.png" alt="Follow Backup Paracute Software on Twitter" /><a href="http://www.twitter.com/backupparachute" target="_blank">@backupparachute</a>
    </div>
  </div>
</footer> -->


<footer>
  <div class="row head-room">
    <div class="small-12 columns text-center">
      <p class="large-text-left">a <a href="http://www.backupparachute.com" target="_blank">backup parachute software</a> solution</p>
    </div>
  </div>
</footer>
